body {
  background-color: darkslategrey;
}
nav {
  background-color: darkgrey;
  background-size: 100%;
  padding: 5px;
  margin-bottom: 5px;
}
li {
  text-align: center;
  display: inline;
}
li a {
  padding: 15px;
  background-color: darkgray;
  color: blanchedalmond;
  text-decoration: none;
}
li a:hover {
  background-color: lightgrey;
  border-radius: 20%;
}
.thx {
  color: blanchedalmond !important;
  text-align: center;
  padding-top: 15%;
}
